body {
    transition: all 0.5s;
}

ul.menu {
    position: fixed;
    top: 74px;
    list-style: none;
    left: 0;
    transition: all 2s;
}

ul.menu li {
    background: white;
    width: 200px;
    border-left: dodgerblue 4px solid;
    padding: 10px;
    transition: all 0.5s;
    border-bottom: #d3e0e9 1px solid;
}

ul.menu li:last-child {
    border-bottom: none;
}

ul.menu li:hover {
    border-left: #1479c5 10px solid;
}

/*# sourceMappingURL=custom.css.map */
